<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
    <style media="screen">
      input[name]{
        margin-top:10px;
      }
      input[value]{
        margin-top:5px;
      }
      form{

        box-shadow: 0px 0px 10px red;
        padding:5px;
        border radius:5%;


      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <h4 class="text-center mt-5">!!!Enter Employee Data Here!!!</h4>
          <form method="POST" action="{% url 'updatingEmp' emp.id %}">
            {% csrf_token %}
            <!-- <label>First Name:</label> -->
            <input type="text" name="fname" class="form-control" placeholder="First Name" value="{{emp.first_name}}">
            <!-- <label>Last Name:</label> -->
            <input type="text" name="lname" class="form-control" placeholder="Last Name" value="{{emp.Last_name}}">
            <!-- <label>Email ID:</label> -->
            <input type="text" name="email" class="form-control" placeholder="Email ID" value="{{emp.email}}">
            <!-- <label>contact No:</label> -->
            <input type="number" name="mobile" class="form-control" placeholder="Contact No" value="{{emp.mobile}}">
            <!-- <label>Company:</label> -->
            <input type="text" name="company" class="form-control" placeholder="Company" value="{{emp.company}}">
            <!-- <label>Salary:</label> -->
            <input type="number" name="salary" class="form-control" placeholder="Salary" value="{{emp.salary}}">
            <!-- <label>Location</label> -->
            <input type="text" name="location" class="form-control" placeholder="Location" value="{{emp.location}}">
            <center>
              <input type="submit" value="Update" class="btn btn-success">
              <input type="reset" value="Cancel" class="btn btn-danger">

            </center>

          </form>
          <div class="text-center">
            <a href="{% url 'home' %}" class="btn btn-warning mt-3">Go To Main Page</a>

          </div>

      </div>

    </div>

  </body>
</html>
